@model YogaFitnessClub.ViewModels.SessionViewModel
@{
    ViewBag.Title = "SessionDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Session Details</h2>

<table class="table" >
    <thead>
        <tr>
            <th class="active">@Model.Customer.Id</th>
            <th class="active">@Model.Customer.Name</th>
        </tr>
    </thead>
</table>

<table id="sessions"class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Session ID</th>
            <th>Session Date</th>
            <th>Session Time</th>
            <th>Activity Name</th>
            <th>Instructor</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var session in Model.Sessions)
        {
            <tr>
                <td>@Html.ActionLink(session.Id.ToString(), "EditSession", "Sessions", new { id = session.Id }, null)</td>
                <td>@session.Date.ToShortDateString()</td>
                <td>@session.Time.ToShortTimeString()</td>
                <td>@session.Activity.Name</td>
                <td>@session.InstructorName</td>
                <td>
                    <button data-session-id="@session.Id" class="btn-link js-delete">Delete</button>
                </td>
            </tr>
        }
    </tbody>
       
</table>

@section scripts
{
    <script>
        $(document).ready(function () {
            $("#sessions .js-delete").on("click", function () {
                var button = $(this);

                if (confirm("Are you sure you want to delete this session?")) {
                    $.ajax({
                        url: "/api/sessions/" + button.attr("data-session-id"),
                        method: "DELETE",
                        success: function () {
                            button.parents("tr").remove();
                        }

                    });
                }
            });
        });

    </script>  
}