@model YogaFitnessClub.Models.Instructor

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Instructor Details</h2>

<p></p>
<p>Name:&nbsp; @Model.Name</p>
<p>Gender:&nbsp; @Model.Gender</p>
<p>Date of Birth:&nbsp; @Model.Birthdate</p>
<p>NIN:&nbsp; @Model.NiNumber</p>
<p>Address:&nbsp; @Model.Address</p>
<p>Postcode:&nbsp; @Model.Postcode</p>
<p>Email:&nbsp; @Model.Email</p>




