@model YogaFitnessClub.Models.Instructor

@{
    ViewBag.Title = "Instructor Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Instructor Form</h2>

@using (Html.BeginForm("SaveInstructor", "Instructor"))
{
    <div class="form-group">
        @Html.LabelFor(c => c.Name)
        @Html.TextBoxFor(c => c.Name, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(c => c.Gender)
        @Html.TextBoxFor(c => c.Gender, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(c => c.Birthdate)
        @Html.TextBoxFor(c => c.Birthdate, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(c => c.NiNumber)
        @Html.TextBoxFor(c => c.NiNumber, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(c => c.Address)
        @Html.TextBoxFor(c => c.Address, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(c => c.Postcode)
        @Html.TextBoxFor(c => c.Postcode, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(c => c.Email)
        @Html.TextBoxFor(c => c.Email, new { @class = "form-control" })
    </div>

    @Html.HiddenFor(m => m.Id)
    <button type="submit" class="btn btn-primary">Update</button>
}



