@model YogaFitnessClub.ViewModels.TutorBookingCustomerViewModel
@{
    ViewBag.Title = "Book a Customer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Book a Customer</h2>

@* Error message for a user *@
<div class="form-group">
    <span style="color:red">@ViewData["Message"]</span>
</div>
<hr />

@* table with data from the model for the customer *@
<table class="table">
    <thead>
        <tr>
            <th class="first_table_col" scope="col">Customer Name</th>
            <th scope="col">Email</th>
            <th scope="col">DOB</th>
            <th scope="col">Address</th>
            <th style="border-top-left-radius: 10px;" class="last_table_col" scope="col">Postcode</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
            {
            <tr>
                <td>@Model.Customer.Name</td>
                <td>@Model.Customer.Email</td>
                <td>@Model.Customer.Birthdate.Value.ToShortDateString()</td>
                <td>@Model.Customer.Address</td>
                <td>@Model.Customer.Postcode</td>
            </tr>
        }
    </tbody>
</table>

<p style="text-align:center">Use the search field and table sorting buttons to find a booking for a customer. </p>

@* another table, the table is pupolated using a loop and the data which is sent from the controller *@
<table id="events" class="table table-bordered table-hover table-responsive">
    <thead>
        <tr>
            <th class="first_table_col" scope="col">Tutor</th>
            <th scope="col">Customer</th>
            <th scope="col">Title</th>
            <th scope="col">Start</th>
            <th scope="col">End</th>
            <th scope="col">Price</th>
            <th scope="col">Location</th>
            <th scope="col">Activities</th>
            <th scope="col">Difficulty</th>
            <th scope="col">Spaces Left</th>
            <th class="last_table_col" scope="col">Book</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
            {
                foreach (var evt in Model.ClassSessions)
                {
                <tr>
                    <td>@evt.Tutor.Name</td>
                    <td>Model</td>
                    <td>@evt.Title</td>
                    <td>@evt.StartDate</td>
                    <td>@evt.EndDate</td>
                    <td>@evt.ClassType.Price</td>
                    <td>
                        @evt.Room.Branch.Address, @evt.Room.Branch.Postcode<br />
                        Room: @evt.Room.RoomNumber
                    </td>
                    <td>
                        @foreach (var skill in evt.ClassSkills)
                        {
                            <p>@skill.Skill.SkillName</p>
                        }
                    </td>
                    <td>@evt.ClassType.ClassTypeName</td>
                    <td>@evt.SpaceLeft</td>
                    <td>
                        @using (Html.BeginForm("ProcessTutorCustomerBooking", "Bookings", new { id = evt.Id }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.HiddenFor(c => c.Customer.UserId)
                            <span onclick="return confirm('Are you sure to book?')">
                                @if (evt.SpaceLeft > 0)
                                {
                                    <input type="submit" value="Book Now" class="btn btn-success btn-lg btn-block" />
                                }
                                else
                                {
                                    <input type="submit" disabled value="Sold Out" class="btn btn-danger btn-lg btn-block" />
                                }
                            </span>
                        }
                    </td>
                </tr>
            }
        }
    </tbody>
</table>


@section Scripts{
    <script>
        $(document).ready(function () {
            $("#events").DataTable();
        })
    </script>

}

