@model YogaFitnessClub.Models.Customer

@{
    ViewBag.Title = "Customer Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customer Form</h2>

@using (Html.BeginForm("SaveCustomer", "Customers"))
{
    <div class="form-group">
        @Html.LabelFor(c => c.Name)
        @Html.TextBoxFor(c => c.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Name, null, new { @class = "text-danger" })

    </div>

    <div class="form-group">
        @Html.LabelFor(c => c.Birthdate)
        @Html.TextBoxFor(c => c.Birthdate, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Birthdate, null, new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(c => c.Address)
        @Html.TextBoxFor(c => c.Address, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Address, null, new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(c => c.Postcode)
        @Html.TextBoxFor(c => c.Postcode, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Postcode, null, new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(c => c.Email)
        @Html.TextBoxFor(c => c.Email, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Email, null, new { @class = "text-danger" })
    </div>
    @*<div class="form-group">
        @Html.LabelFor(c => c.UserId)
        @Html.TextBoxFor(c => c.UserId, new {@readonly = "readonly", @class = "form-control" })
        @Html.ValidationMessageFor(m => m.UserId, null, new { @class = "text-danger" })
    </div>*@

    @Html.HiddenFor(m => m.Id)
    @Html.HiddenFor(m => m.UserId)
    <button type="submit" class="btn btn-primary">Save</button>
}



@section scripts
{
    @Scripts.Render("~/bundles/jqueryval");
}