@*@using YogaFitnessClub.Models*@
@model YogaFitnessClub.Models.Customer

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1></h1>
@Html.ActionLink("Edit Details", "Edit", "Customers", null, new { @class = "btn btn-info" })
@Html.ActionLink("View Details", "Details", "Customers", null, new { @class = "btn btn-info" })
@Html.ActionLink("Book Sessions", "SessionForm", "Sessions", null, new { @class = "btn btn-info" })
@Html.ActionLink("View Sessions", "SessionDetails", "Sessions", new { id = @Model.UserId }, new { @class = "btn btn-info" })


<h1>Welcome, @Model.Name.</h1>







   